body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

p {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    line-height: 25px;
}

h1, h2 {
    margin: auto;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
}

h1, h3, h4, #contact-data a {
    color: #1ac056;
}

h2, .white-text, #name-text, #contact-data, #copyright {
    color: aliceblue;
}

h1 {
    font-size: 136px;
    font-weight: 400;
}

h2 {
    font-size: 40px;
    font-weight: 100;
}

h3 {
    font-size: 30px;
    font-weight: 400;
}

h4 {
    font-size: 36px;
    font-weight: 400;
}

.white-text {
    font-weight: 200;
}

.black-text, #name-text, #contact-data, #copyright, .form-control {
    font-weight: 300;
    font-family: "lato", sans-serif;
}

.black-text {
    color: #291f1a;
}

#about, #skills, #portfolio, #contact {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 80px;
}

/* HEADER */
#main-header {
    position: relative;
    background-image: url("../img/header-background.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#main-nav ul {
    margin-top: 0;
    text-align: right;
}

#main-nav ul > li {
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
}

#main-nav ul li > a {
    text-decoration: none;
    color: aliceblue;
}

#main-nav ul li > a:hover {
    color: #1ac056;
    transition-duration: .5s;
}

#title {
    position: absolute;
    width: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* O MNIE */
#about {
    background-color: #f9fcfe;
    text-align: center;
}

#about img {
    width: 250px;
    height: auto;
    border: 15px solid white;
    border-radius: 15px;
}

#about-left, #about-right {
    display: inline-block;
}

#about-right {
    height: 300px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

/* UMIEJĘTNOŚCI */
#skills {
    text-align: center;
}

#skills p {
    text-align: center;
}

#skills figure {
    display: inline-block;
    margin-top: 50px;
}

/* PORTFOLIO */
#portfolio {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
/*  Likwidacja przerwy między itemami  */
    font-size: 0;
}

.floated {
    position: relative;
    display: inline-block;
    height: 350px;
    width: 390px;
    background-size: cover;
}

.item-mask {
    background: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
}

.item-mask:hover {
    opacity: 1;
    transition-duration: .5s;
}

.item-mask-border, .item-mask-text {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.item-mask-border {
    margin: 10px;
    border: 1px solid aliceblue;
}

.item-mask-text {
    width: 90%;
    height: 240px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: aliceblue;
}

.item-title {
    font-size: 18px;
    font-weight: 600;
}

#item-1 {
    background-image: url(../img/portfolio1.jpg);
}

#item-2 {
    background-image: url(../img/portfolio2.jpg);
}

#item-3 {
    background-image: url(../img/portfolio4.jpg);
}

/* KONTAKT */
#contact {
    //position: relative;
    background-color: #213b50;
}

#contact-data, #contact-form {
    display: inline-block;
}

#contact-data {
    width: 35%;
    padding-left: 30px;
}

.icon-box {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 30px;
    margin-top: 50px;
    border: 1px solid aliceblue;
    text-align: center;
    line-height: 35px;
    color: aliceblue;
}

.icon-box:hover {
    background-color: aliceblue;
    color: #2b4a64;
    transition-duration: .5s;
}

#contact-form {
    position: absolute;
    margin-top: 50px;

}

.form-control {
    display: block;
    width: 550px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #2b4a64;
    font-size: 16px;
    color: aliceblue;
}

#contact input, #send-btn {
    height: 45px;
}

#contact textarea {
    resize: none;
}

#send-btn {
    float: right;
    width: 120px;
    background-color: #1ac056;
    border: 1px solid aliceblue;
    color: aliceblue;
    font-size: 16px;
}

#send-btn:hover {
    background-color: darkturquoise;
    transition-duration: 0.5s;
}

footer {
    background-color: #182b3a;
    padding-left: 40px;
    line-height: 30px;
}