body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
/* Usunięcie marginesów strony */
    margin: 0;
}

/* HEADER */
#main-header {
    position: relative; 
    top: 0;
    height: 100vh;
    width: 100%;    
}

#title {
    position: absolute;
/*  Musi być podany rozmiar, bo inaczej się nie wypozycjonuje  */
    width: 480px;
    height: 290px;
    margin: auto; 
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#header-photo
{
    position: absolute;
    background-image: url("../img/header-background.jpg");
    height: 100vh;
    width: 100%; 
    margin: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}

li {
    display: inline;
    padding-right: 45px;
}

ul {
    float: right;
}

#main-nav {
    //overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    margin-right: 30px;
}

#main-nav.menu-class {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    z-index: 10;
}

#main-nav.menu-class a {
    color: #1ac056;
}

#main-nav a {
    right: 30px;
    color: aliceblue;
    font-weight: 400;
}

#main-nav a:hover {
    color: #1ac056;
}

.visited {
   color: #1ac056;
}

.active {
    background-color: bisque;
}

p, h2, h3, #menu {
    color: #291f1a;
    font-weight: 300;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 90px;
    color: #1ac056;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 200;
    color: aliceblue;
    text-align: center;
}

h3 {
    font-size: 28px;
    text-align: center;
}

h4 {
    font-size: 36px;
    text-align: left;
}

.white-text {
    color: aliceblue;
    font-weight: 300;
}

.green-text {
    color: #1ac056;
    font-weight: 500;
}

a {
    text-decoration: none;
}

/* O MNIE */
#about {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #f9fcfe;
    overflow: hidden;
}

#left-about, #right-about {
    display: inline-block;
    width: 40%;
}

#left-about {
    float: left;
/*  Centrowanie zdjęcia  */
    text-align: center;
}

#jan-nowak-photo {
    border: 15px solid white;
    border-radius: 15px;
    width: 250px;
}

/* UMIEJĘTNOŚCI */
#skills {
    clear: left;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 140px;
    text-align: center;
}

#skills figure {
    display: inline-block;
    margin: 30px;
}

/* PORTFOLIO */
#portfolio {
    width: 100%;
    text-align: center;
}

#portfolio #portfolio-container {
    width: 100%;
}

#portfolio #portfolio-container .floated {
    position: relative;
    float: left;
    height: 350px;
    background-size: cover;
}

#portfolio #portfolio-container .floated .item-mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(42, 61, 79, 0.8);
    opacity: 0;
    transition:  all .5s ease-in-out;
}

#portfolio #portfolio-container .floated .item-mask:hover {
    opacity: 1;
}


#item-mask-border-1, #item-mask-border-2, #item-mask-border-3, .item-mask-text {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.85;
}

#item-mask-border-1, #item-mask-border-2, #item-mask-border-3 {
    width: 94%;
    height: 92%;
    border: 1px solid aliceblue;
}

.item-mask-text {
    width: 350px;
    height: 230px;
    font-size: 15px;
    font-weight: 300;
    color: aliceblue;
    text-align: center;
}

#item-1 {
    background-image: url('../img/portfolio1.jpg');
}

#item-2{
    background-image: url('../img/portfolio2.jpg');
}

#item-3{
    background-image: url('../img/portfolio4.jpg');
}

/* KONTAKT */
#contact {
    overflow: hidden;
/*    position: relative;*/
    background-color: #213b50;
    padding-left: 30px;
    padding-bottom: 50px;
}

#contact-data, #contact-form {
    display: inline-block;
}

#contact-form {
    float: none;
    width: 50%;
}

#contact-details {
    color: aliceblue;
    padding-bottom: 30px;
}

.icon-box {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid white;
    margin-right: 20px;
    text-align: center;
    line-height: 32px;
    color: white;
    transition-duration: .5s;
}

.icon-box:hover {
    background-color: white;
    color: #213b50;
    transition-duration: .5s;
}

form, input, textarea {
    width: 450px;
}

form {
    margin-left: auto;
    top: 30px;
    background: #213b50;
}

input, textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #2b4a64;
    border-width: 0px;
    border-color: #ffffff;
    font-size: 14px;
    color: aliceblue;
}

textarea {
    resize: none;
}

.button {
    float: right;
    background-color: #1ac056;
    border: 1px solid aliceblue;
    color: aliceblue;
/*  Wyrównanie do prawej  */
    margin-right: -30px;
    width: 100px;
    height: 45px;
}

footer {
    height: 30px;
    background-color: #182b3a;  
}

#copyright {
    font-size: 14px;
    color: aliceblue;
    margin-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}